/* * { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}  */

/* width: 5%
max-width: 30px */

/* header { 
    background: linear-gradient(55deg, purple 0 50%, white 50% 100%);
} */ 

/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital@1&display=swap'); */ 

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Playfair+Display+SC:ital@1&display=swap');

body { 
    background-color: navy;
}

.header-flex-container { 
    display: flex;
    /* border: 1px solid black; */
    padding: 20px; 
    margin: 10px;
    gap: 2em;
    /* background: linear-gradient(35deg, purple 0 50%, white 50% 100%); */
    /* background: linear-gradient(45deg, rgb(139, 22, 139) 0, 50%, navy 50%); */
    background: linear-gradient(45deg, rgb(192, 168, 192) 0, 50%, navy 50%);
} 


.about-me-text-container { 
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: center; */
    text-align: center;
    padding: 25px; 
    margin: 15px;
    background-color: white;
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    /* font-family: 'Playfair Display SC', serif; */
    font-family: 'Bree Serif', serif;
    border-radius: 5%;
    border: 10px solid navy;
}  

/* .about-me-text-container h4 { 
    font-size: 1.5rem;
} */

.project-btn-header { 
    font-size: 2rem;
    font-family: 'Bree Serif', serif;
    background-color: rebeccapurple;
    color: white;
    font-weight: bold;
}

.about-me-text-container h3 { 
    /* font-size: 2.3rem; */
    font-size: clamp(2.5rem, 2.5vw, 1.2rem);
} 

/* .header-img-container { 
    /* display: flex;
    justify-content: center; */
    /* position: relative;
    top: 2%;
    left: 39%; */
    /* width: 200px; */
    /* height: calc(600px * 9 / 16) */
    /* height: auto; */
/* }  */ 

.header-img-container { 
    display: flex;
    width: 800px;
    justify-content: center;
}

.Portfolio-img-header { 
    /* position: absolute; */
    /* width: 250px;  */
    width: min(50vw, 220px);
    height: auto;
    /* border: 10px solid navy; */
    border-radius: 10%;
    /* width: 15%; */
    /* width: 210px;
    height: auto; */
    /* object-fit: fill; */
    /* width: min(20%, 20em); */
    /* max-width: 100%; */
    /* border-radius: 15%;
    border: 10px solid navy; */
    /* position: absolute; */
    /* width: min(15%, 25%); */
}  
/* .about-me-text-container img { 
    width: 35px;
}  */ 

.linkedin-icon-header, 
.github-icon-header { 
    width: 35px;
} 

main { 
    /* background: linear-gradient(45deg, rgb(139, 22, 139) 0, 50%, navy 50%); */
    background: linear-gradient(45deg, rgb(192, 168, 192) 0, 50%, navy 50%);
} 

main h3 { 
    text-align: center;
    color: white;
    font-family: 'Bree Serif', serif;
    font-size: 2rem;
    margin: 0;
} 

.my-skills-container { 
    display: flex;
    justify-content: center;
    align-content: center;
    /* border: 1px solid black; */
    gap: 0.5em;
    flex-wrap: wrap;
    text-align: center;
    color: white;
    font-family: 'Bree Serif', serif;
    font-weight: bolder;
    /* max-width: 80%; */
} 

.HTML-CSS-JS-icon-container, 
.react-sass-jest-icon-container,
.git-vscode-webpack-icon-container
 { 
    display: flex;
    flex-wrap: nowrap;
}

.my-skills-container img { 
    width: 45px;
} 

.my-skills-container li { 
    line-height: 1.4;
} 

.skills-list { 
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Bree Serif', serif;
    font-size: clamp(1.3rem, 1vw, 0.5rem);
} 

.my-projects-header-main, 
.my-skills-header, 
.programming-toolbox-header { 
    text-decoration: underline;
}

.projects-section-container { 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* adding 2em instead of 1, made sure that 1 project card does not stay by itself at the top. */
    gap: 2em;
} 

/* .react-projects-container { 
    display: flex;
    flex-wrap: wrap;
} 

.JS-projects-container { 
    display: flex;
    flex-wrap: wrap;
} */

.project-cards { 
    /* width: 600px; */
    width: min(50vw, 300px);
    border: 3px solid purple;
    text-align: center;
    color: white; 
    font-weight: bold;
    padding: 15px;
    margin: 10px;
    /* font-size: 1.5rem; */
    /* flex-basis: 30%; */
    flex-basis: 33.333333%;
    /* flex-basis: 25%; */
    font-family: 'Bree Serif', serif;
     /* font-size: clamp(1rem, 2.5vw, 0.5rem); */
}  

.project-cards h3 { 
    text-decoration: underline;
    /* font size could be the problem why the icon is rising up in the card 
    previously used this, 
    */
    font-size: clamp(1.5rem, 2.5vw, 1rem);
    /* font-size: 1.5rem; */
    margin: 12px;
    /* color: rgb(224, 59, 47); */
} 

/* .todo-project-icon-container { 
    position: absolute
} */

.footer-content-container { 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: min(100vw, 800px); */
    width: 100%;
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: 'Bree Serif', serif;
    /* font-size: clamp(1.2rem, 2.5vw, 0.5em); */
    font-size: clamp(1rem, 2.5vw, 1.5rem);
}  

/* .footer-content-container h4 { 
    text-align: center;
    font-size: 2rem;
    text-decoration: underline;
}  */ 

.contact-me-footer { 
    text-align: center;
    font-size: 2rem;
    text-decoration: underline;
    margin: 0;
}

.phone-icon-text-container, 
.email-icon-text-container { 
    display: flex;
    align-items: center;
    gap: 1em;
}

.footer-icon-container { 
    display: flex;
    gap: 1em;
}

.footer-img-container { 
    display: flex;
    justify-content: flex-end;
 } 

.footer-img-container > img { 
    width: 250px;
    border-radius: 14%;
}

/* .about-me-text-container { 
    padding: 2em; 
} */ 

/* @media (max-width: 500px) { 
    .Portfolio-img-header { 
        width: 200px;
        height: auto;
    }
} */ 

@media (max-width: 470px) { 
    .projects-section-container { 
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}