/* * { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}  */

/* width: 5%
max-width: 30px */

.header-flex-container { 
    display: flex;
    /* background-image: url(Images/Alec-Portfolio-Picture.jpg);
    background-size: 5em;
    background-repeat: no-repeat; */
    /* position: relative; */
    border: 1px solid black;
    padding: 20px; 
    margin: 10px;
}

.Portfolio-img-header { 
    width: 20%;
    border-radius: 15%;
    /* position: absolute; */

}  

.about-me-text-container img { 
    width: 25px;
} 

main h3 { 
    text-align: center;
}

.projects-section-container { 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
} 

.project-cards { 
    /* width: 220px; */
    border: 3px solid black;
} 

footer { 
    border: 1px solid black;
    padding: 30px; 
    margin: 10px;
    display: flex;
}

.footer-content-container { 
    display: flex; 
    flex-direction: column;
    /* border: 1px solid black; */
} 

.footer-icon-container { 
    display: flex;
}

.footer-img-container { 
    display: flex;
    justify-content: flex-end;
 } 

.footer-img-container > img { 
    width: 250px;
    border-radius: 14%;
}

/* .about-me-text-container { 
    padding: 2em;
} */